    <!-- ======= {{name}} Section ======= -->
    <section id="collection" class="collection section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
            <h2>{{name}}</h2>
            <p>{{title}}</p>
            </div>

            <div class="row collection-container" data-aos="fade-up" data-aos-delay="200">

            {{#urls}}
            <div class="col-lg-4 col-md-6 collection-item filter-{{category}}">
                <div class="collection-wrap">
                <img src="assets/img/portfolio/{{name}}.jpg" class="img-fluid" alt="">
                <div class="collection-info">
                    <h4>{{name}}</h4>
                    <p>{{about}}</p>
                    <div class="collection-links">
                    <a href="assets/img/portfolio/{{name}}.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="{{url}}" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                </div>
            </div>
            {{/urls}}

            {{#pins}}
            <div class="col-lg-4 col-md-6 collection-item">
                <div>
                    <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/cli1980/{{board}}"></a>
                </div>
            </div>
            {{/pins}}

            </div>
        </div>
    </section><!-- End {{name}} Section -->       